doctype html
html
  head
    title Yash Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
              img(src="/static/img/3.png")
              | YDA
            li #[a(href="/") Home ]
            li #[a(href="/") About Us ]
            li #[a(href="/") Courses ]
            li #[a(href="/") Classes taken]
            li #[a(href="/contact") Contact Us] 
    block content
    footer#footer 
        | Copyright © 2021 YashDanceAcademy.com | All rights reserved
  